body, html {
    padding: 40px;
    background: #dfe9e1;
    color: #1f1e1e;
    font:16px Arial, sans-serif;


}

p{
    background-color: #d4cece
}

a{
    display: inline-block;
    padding: 25px;
    border-radius: 9999px;
    background-color: #3b82f6;
    color: #ffffff;
    text-decoration: none; /*this removes the underline */
    font-size: 24px;
}

a:hover{
    background-color: #474d59 /*this changes the anchor when you hover*/
    /*:link is the default style of unvisited link, :visited is for when they have been to the link already. */
    /* try to keep eleement stylings like this on the external style sheet*/
}